@media only screen and (max-width: 1168px) {
	body{min-width:990px;}
/*------------------------  Index START  ----------------------*/
	.number{
		font-size: 23px;
	}
	.offers_item{
		margin-bottom: 15px;
	}
	.header_number_btn{
		padding: 7px 48px 8px;
	}
	.login{
		width: 18.5%;
	}
	.bank_selection_item{
		width: 29%;
	}
/*------------------------  Index END  ----------------------*/
}

@media only screen and (max-width: 1024px){
	.img_box,
	.info_box{
		padding-left: 0;
	}
		.tab_item{
			margin-bottom: 20px;
		}
			.tab_img_box{
				width: 100px;
			}
			.tab_title_box{
				width: 100%;
				margin-left: 0;
				padding-right: 10px;
			}
			.tab_title_box .tab_title{
				padding: 5px 0;
			}
	.diagram_block_text{
		margin-top: 35px;
	}
	.select_wrapp_item{
		margin-bottom: 10px;
	}
	.search_bank,
	.selected_bank{
		float: none;
		width: 100%;
	}
	.selected_bank {
		margin-top: 10px;
	    margin-left: 0px;
	}
}

@media only screen and (max-width: 995px) {
		body{min-width:768px;}

}

@media only screen and (max-width: 800px){
	.menu_link {
	    font-size: 14px;
	    padding: 10px 10px 9px;
	}
	.menu_item:last-child .menu_link {
	    padding: 10px 5px 9px 15px;
	}
}


@media only screen and (max-width: 768px) {
	body{min-width:420px;}
/*------------------------  Product START  ----------------------*/
	.img_box,
	.tabs .img_box{
		display: none;
	}
	.tabs .info_box{
		width: 100%;
	}
		.tab_img_box{
			
		}
		.tab_title_box{
			width: 100%;
		}
			.tab_title_box .tab_title{
				padding: 0;
			}
	.show_tab_btn.d_none{
		display: inline-block !important;
	}
	.number.d_none{
		display: block;
	}

/*------------------------  Product END  ----------------------*/
		
}



@media only screen and (max-width: 650px) {
/*------------------------  Question START  ----------------------*/
	.img_box,
	.info_box{
		width: 100%;
		float: none;
	}
/*------------------------  Question END  ----------------------*/
/*  index  */
	.offers_item{
		margin-bottom: 40px;
	}

}



@media only screen and (max-width: 550px) {
/*------------------------  Question START  ----------------------*/
	.offers_item {
	    width: 100%;
	}
/*------------------------  Question END  ----------------------*/

	.personal_information_item{
		float: none;
		width: 90%;
	}

}



@media only screen and (max-width: 479px) {
		body{min-width:320px;}
/*------------------------  Question START  ----------------------*/
	.accordion_item_link{
		border-bottom: none;
	}
/*------------------------  Question END  ----------------------*/
	.banner1,
	.banner2{
		width: 100%;
	}
/*  index  */
	

/*  order  */
	.bank_selection_item {
	    width: 45%;
	}
}


