/*===============================================>  
                               >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>  RESPONSIVE LAYOUTS START  <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<
<===============================================*/
@media only screen and (max-width: 1500px) {
	.main_content_img:before{
		left: -10%;
	}
}

@media only screen and (max-width: 1168px) {
	body{min-width:990px;}
	.container{
		padding: 0 15px;
	}
/*------------------------  Index START  ----------------------*/
	.header_number, 
	.header_contacts{
		width: 20%;
	}
		.number{
			font-size: 23px;
		}
		.submit_application_btn_big{
			right: 20px;
		}
	.social_icon{
		margin: 0 20px 0 0;
	}
	.footer_copyright{
		margin-right: 2%;
	}
	.header_number_btn{
		padding: 7px 40px 8px;
	}
	.login{
		width: 20.5%;
	}
	.nearest_office{
		margin-bottom: 5px;
	}
	.submit_application_btn_big{
		top: 10px;
	}
	.main_content_top_block .title {
	    margin-left: 230px;
	}
		.info_block1,
		.info_block2{
			margin-top: 30px;
			margin-bottom: 20px;
		}
	.menu_link{
		padding: 10px 35px 9px;
	}
/*------------------------  Index END  ----------------------*/
}

@media only screen and (max-width: 1045px) {
/*------------------------  Index START  ----------------------*/
		.number{
			font-size: 20px;
		}
	.header_number, 
	.header_contacts,
	.login{
		margin: 0 0 0 20px;
	}
	.header_number, 
	.header_contacts{
		width: 22%;
	}
	footer .header_number, 
	footer .header_contacts{
		width: 27%;
	}
	.menu_link{
		padding: 10px 25px 9px;
	}
/*------------------------  Index END  ----------------------*/
}



@media only screen and (max-width: 995px) {
		body{min-width:750px;}
/*------------------------  Index START  ----------------------*/
	.submit_application_btn_big{
		font-size: 15px;
		padding: 20px 25px;
	}
	.header_number_btn {
	    padding: 7px 35px 8px;
	}
	.menu_link{
		font-size: 14px;
		padding: 10px 13px 9px;
	}
/*------------------------  Index END  ----------------------*/
}

@media only screen and (max-width: 900px) {
/*------------------------  Index START  ----------------------*/
	.number {
	    font-size: 18px;
	}
	.nearest_office{
		font-size: 16px;
	}
	.header_number_btn {
	    padding: 7px 30px 8px;
	}
	.offers_item{
		width: 50% !important;
	}
	.main_content_img:before{
		left: -23%;
	}
	.main_content_top_block .title {
	    margin-left: 200px;
	}


	.title{
		font-size: 30px;
	}
/*------------------------  Index END  ----------------------*/
/*------------------------  Comment START  ----------------------*/
	.form_box1,
	.form_box2{
		width: 100%;
		float: none;
	}
}
/*------------------------  Comment END  ----------------------*/

@media only screen and (max-width: 840px) {
/*------------------------  Index START  ----------------------*/
	.nearest_office{
		font-size: 14px;
	}
	.number {
    	font-size: 16px;
	}
	.header_contacts{
		font-size: 12px;
	}
	.header_number span {
	    font-size: 11px;
	}
	.header_number_btn {
	    padding: 7px 20px 8px;
	}
	.header_number span{
		margin: 5px 0 10px 10px;
	}
/*------------------------  Index END  ----------------------*/
}

@media only screen and (max-width: 767px) {
		body{min-width:420px;}
		.container{
			max-width: 100%;
		}
/*------------------------  Index START  ----------------------*/
	header{
		position: relative;
		z-index: 999;
	}
	.title{
		font-size: 23px;
	}
		.header_contacts{
			display: none;
		}
		.main_content_top_block .submit_application_btn_big{
			right: 50%;
			top: 350px;
			-webkit-transform: translateX(50%);
            -ms-transform: translateX(50%);
            -o-transform: translateX(50%);
            transform: translateX(50%);
            padding: 20px 40px;
            font-size: 18px;
		}
		.offers {
			margin-top: 380px;
		}
		.main_content_img:before{
			left: 0;
			top: 60px;
		}

		/*--- menu ---*/
		.navigation_menu{
			background-color: #004B6A;
			width: 268px;
		    position: absolute;
		    height: 100%;
		    z-index: 9;
		    top: 0px;
		}/*
		.menu_item.current .menu_link, 
		.menu_link:hover {
		    color: #6EB4D6;
		    background-color: transparent;
		}*/
		.menu_item{
			display: inline-block;
			width: 100%;
		}
		#header .header_number,
		#header .header_contacts,
		#header .login{
			display: none;
		}
		.navigation_menu .show_menu_btn,
		.navigation_menu .submit_application_btn_big,
		.navigation_menu .login{
			display: block;
		}
		.show_menu_btn{
			display: block;
			margin-bottom: 10px;
		}
		.navigation_menu{
			display: block;
			transform: translateX(-269px);
			-webkit-transition: all 0.2s ease;
			   -moz-transition: all 0.2s ease;
			    -ms-transition: all 0.2s ease;
			     -o-transition: all 0.2s ease;
			        transition: all 0.2s ease;
		}
			.menu_link{
				display: block;
				padding: 10px 40px 9px !important;
				text-align: left;
			}
			.navigation_menu .submit_application_btn_big{
				width: 210px;
			   	padding: 15px 25px 14px;
			    position: relative;
			    top: 45px;
			    left: 0;
			    text-align: center;
			    margin-left: 15px;
			}
			.navigation_menu .login{
				width: 100%;
    			margin-top: 70px;
    			margin-left: 0;
    			margin-left: 15px;
			}
				.navigation_menu .login .login_btn{
					border-bottom: none;
    				color: #dee8ea;
				}
		.show_menu .navigation_menu{
			z-index: 99999;
			transform: translateX(0px);
			-webkit-transition: all 0.2s ease;
			   -moz-transition: all 0.2s ease;
			    -ms-transition: all 0.2s ease;
			     -o-transition: all 0.2s ease;
			        transition: all 0.2s ease;
		}
		.logo{
			width: 210px;
			margin: 0 20px;
		}
		.main_content_top_block .title{
			margin-left: 0;
			text-align: center;
		}
		.main_content_img:before{
			width: 100%;
			background-position: center;
		}
		.info_block1,
		.info_block2{
			width: 100%;
		}
/*------------------------  Index END  ----------------------*/

	.form_block{
		width: 100%;
		float: none;
	}
	.info_box{
		width: 100%;
		
	}

	
	.tabs_resp .resp-tab-content{
		margin-top: 15px;
	}
	.tabs_resp{
		display: block !important;
	}
	h2.resp-accordion{
		display: none !important;
	}

	.show_tab_btn ul.resp-tabs-list{
		display: block !important;
		height: 0;
		overflow: hidden;
	}

	.show_tab_menu .show_tab_btn ul.resp-tabs-list{
		height: 100%;
		margin: 30px 40px 0 40px;
	}

	.tab_img_box{
		display: none;
	}
	.tab_title_box .tab_title{
		color: #fff;
	}
	.resp-tab-item.resp-tab-active .tab_title,
	.tab_item:hover .tab_title_box .tab_title{
        font-weight: 400;
	}
	.show_tab_btn_text{
		position: relative;
	    color: #fff;
    	font-size: 14px;
    	padding: 10px 0 12px;	
	}
		.show_tab_btn_text:after{
			content: "";
			position: absolute;
			background: url(../images/tab_arrow_down.jpg) 0 0 no-repeat;
			width: 29px;
			height: 9px;
			bottom: 0;
			left: 50%;
		 	-webkit-transform: translateX(-50%);
            -ms-transform: translateX(-50%);
            -o-transform: translateX(-50%);
            transform: translateX(-50%);
		}
		.show_tab_menu .show_tab_btn_text:after{
            -webkit-transform: rotate(180deg) translateX(50%);
               -moz-transform: rotate(180deg) translateX(50%);
                -ms-transform: rotate(180deg) translateX(50%);
                 -o-transform: rotate(180deg) translateX(50%);
                    transform: rotate(180deg) translateX(50%);
			
		}

	.tab_title_box{
		text-align: left;
	}
	body.show_tab_menu:after,
	body.show_menu:after{
		content: "";
		position: absolute;
		height: 100%;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		background: rgba(000, 000, 000, .7);
	}
	body.show_menu:after{
		z-index: 9999;
	}
	.min_height{
		height: 100%;
	}
	.comment_page .info_block_item_img{
		float: none;
		margin: auto;
		margin-bottom: 10px;
	}
	.comment_page .info_block_item_text.f_left{
		float: none;
	}
	.pagination_list{
		text-align: center;
		margin-right: 0;
	}

	.error_img_box{
		height: 300px;
	}
	.content_indent.error_block{
		padding-bottom: 20px !important;
	}

}

@media only screen and (max-width: 667px) {
	.contacts_page .f_right{
		float: none;
	}
	.contact_link{
		margin-top: 15px;
	}
	.map_list_block_item{
		width: 100%;
	}
}

@media only screen and (max-width: 600px) {
/*------------------------  Index SART  ----------------------*/
	.about_project,
	.news{
		display: none;
	}
		.counter_text:last-child{
			text-align: center;
			display: block;
		}
		.help_count_box{
			width: 270px;
			margin: 0 auto;
			padding-left: 0;
		}
		.counter_box{
			margin: 0;
		}
	.blue_btn{
		display: inline-block !important;
		text-align: center;
	}
	footer{
		padding: 30px 0;
	}
	.footer_copyright{
		display: none;
	}
	.footer_copyright.d_none{
		display: block;
		width: 100%;
    	float: none;
	}
	footer .header_number{
		width: 240px;
	    margin: 0 auto 20px;
	    float: none;
	}
	.social_icon{
		float: none;
	    width: 160px;
	    margin: 0 auto 20px;
	}

	footer .number {
	    font-size: 27px;
	}
		
/*------------------------  Index END  ----------------------*/
/*  order  */
	.select_wrapp_item{
		width: 90%;
	}
}


@media only screen and (max-width: 550px) {

	.main_content_top_block .submit_application_btn_big {
	    top: 350px;
	    padding: 20px 40px;
	    font-size: 15px;
	}
/*------------------------  Question START  ----------------------*/
	.offers_item {
	    width: 100% !important;
	}
/*------------------------  Question END  ----------------------*/
	.add_file{
		margin-top: 20px;
	}
	.comment_page .info_block_item_text{
		width: 100%;
	}
}

@media only screen and (max-width: 480px) {
		body{min-width:320px;}
/* index  */
	.logo{
		width: 200px;
		margin: 0 10px;
	}

	.main_content_top_block .submit_application_btn_big {
	    top: 290px;
	    width: 80%;
	    text-align: center;
	    padding: 20px 20px;
	    font-size: 14px;
	}

	.main_content_img:before{
		width: 100%;
		background-position: 40% 0;
		-webkit-background-size: 180% auto;
		background-size: 180% auto;
		height: 300px;
	}
	
	.offers {
		margin-top: 320px;
	}

	.counter_text:first-child{
		padding-left: 0 !important;
		padding-top: 93px;
		display: inline-block;
		width: 100%;
		text-align: center;
	}
	.counter_text{
		line-height: 60px !important;
	}
	.counter_text:first-child:before{
		left: 40%;
		top: 40px;
	}
	.info_block_item_img,
	.info_block_item_text{
		float: none;
		width: 100%;
	}
	.info_block_item_img{
		width: 90px;
	    margin: 0 auto;
	    display: block;
	    height: 90px;
	}
		.news_title{
			text-align: center;
		}
	.btn{
		display: block;
		margin: 0 auto;
	}
	.form_box button{
		float: none;
		margin: auto;
	}
	footer .number{
		font-size: 27px;
	}
	footer .header_number{
		width: 240px;
	}
/*  contacts  */
	.contact_form + span{
		line-height: 20px;
	}
	.contacts_page div.clearfix .f_left,
	.contacts_page div.clearfix .f_right{
		float: none;
	}
		.contact_link{
			margin-top: 20px;
		}
		.contacts_page .contact_form,
		.contacts_page .contact_form .select_wrapp_item{
			width: 100%;
			margin: 0;
		}
	.contacts{
		padding-bottom: 0;
	}
	.menu_link {
		font-size: 18px;
	    display: block;
	    padding: 7px 32px 8px !important;
	}
	.content_indent {
	    padding-top: 15px !important;
	    padding-bottom: 20px !important;
	}
	.news_page .news_title{
		text-align: left;
	}
	.submit_application_btn_big {
	    font-size: 15px;
	    padding: 24px 62px;
	    right: 7%;
	    top: 280px;
	}
	.question_page .accordion_item_link{
		margin-left: 0;
	}
		.question_page .accordion_item_link:before{
			display: none;
		}
	.navigation_menu  .submit_application_btn_big{
		padding: 14px 7px !important;
	}
	.order_page .submit_application_btn_big{
		padding: 14px 61px;
	}
	.error_img_box{
		height: 220px;
	}
	[data-bg="error_bg"]{
		-webkit-background-size: 150%;
		     -o-background-size: 150%;
		        background-size: 150%;
	}
	.search_bank_input, 
	.personal_information_item{
		width: 250px;
	}
	.jq-selectbox__dropdown{
		width: 100% !important;
	}

	.diagram_block{
		text-align: center;
		margin-bottom: 0;
		padding-bottom: 0;
	}
	.diagram_block_text{
		text-align: left;
	}
	.diagram_canvas_wrapp.f_left{
		float: none;
	}
	.sub-menu{
		padding-left: 0;
	}

	.map_mark_info.mb40{
		margin-bottom: 20px;
	}
	.number{
		padding-left: 36px;
	}

	.select_wrapp_item .jq-selectbox{
		margin-bottom: 20px;
	}

}

@media only screen and (max-width: 320px){
	.add_file{
		margin-left: 40px;
	}
	.order_page .submit_application_btn_big{
		position: initial;
		margin-left: 40px;
	}
	.show_tab_btn_text{
		font-size: 12px;
	}

	.error_img_box{
		height: 170px;
	}
	.content_indent.error_block{
		padding-bottom: 0 !important;
	}
	.content_indent.error_block .info_box{
		margin-bottom: 0;
	}
	[data-bg="error_bg"] {
	    -webkit-background-size: 150%;
	    -o-background-size: 150%;
	    background-size: 150%;
	}
}



/*===============================================>  
                               >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>  RESPONSIVE LAYOUTS END    <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<
<===============================================