/*===============================================>  
                               >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>  QUESTION START  <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<
<===============================================*/
[data-bg="bg_content"]{
	background-color: #eff7fc;
}
.content_indent{
	padding-top: 48px !important;
	padding-bottom: 70px !important;
}
.mt60{
	margin-top: 60px;
}
.mt13{
	margin-top: 13px;
}
.red{
	color: #FF4800 !important;
}
.fz24{
	font-size: 24px;
}


.img_box{
	width: 32%;
}
.info_box{
	width: 68%;
}
.img_box,
.info_box{
	padding-left: 17px;
	margin-bottom: 30px;
}

	.accordion_box{

	}
		.accordion_item{
			
		}
			.accordion_item_link{
				cursor: pointer;
				margin-left: 50px;
				margin-bottom: 12px;
				position: relative;
				display: inline-block;
				border-bottom: 1px solid #df0024;
			}
			.accordion_item_link:hover{
				border-bottom: 1px solid transparent;
			}
				.accordion_item_link span{
					color: #e31e24;
					font-size: 14px;
					padding-bottom: 1px;
					padding-top: 7px;
                	font-weight: 600;
				}
			.accordion_item_link:before{
				content: "";
				left: -50px;
				top: 15%;
				position: absolute;
				width: 30px;
				height: 30px;
				background: url(../images/icon/question_icon.png) 50% 50% no-repeat;
			}
			.accordion_item_link.active{
				border-color: transparent;
				margin-bottom: 10px;
			}
			.sub-menu{
				display: none;
				padding-left: 50px;
				margin-bottom: 12px;
			}
				.sub-menu p{

					line-height: 20px;
				}
	.pagination_list{
		text-align: right;
		margin-top: 30px;
		margin-right: 30px;
	}
		.pagination_list_item{
			display: inline-block;
		}
			.pagination_link{
				font-size: 13px;
				color: #E31E24;
				padding: 3px 8.35px;
				text-decoration: none;
				border: 1px solid transparent;
			}
			.pagination_link:hover,
			.pagination_link.current{
				color: #000;
				border: 1px solid #134C7C;
			}

/*===============================================>  
                               >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>  QUESTION END  <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<
<===============================================*/


/*===============================================>  
                               >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>  PRODUCT START  <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<
<===============================================*/

.tabs_resp{
	display: none !important;
}
.tabs_box,
.tabs_resp{
	position: relative;
}
.show_tab_btn{
	position: absolute;
	z-index: 99;
	cursor: pointer;
	left: -15px;
    right: -15px;
	top: -48px;
	padding: 0 0 15px;
	background: #005277;
	-webkit-transition: all 0.2s ease;
	   -moz-transition: all 0.2s ease;
	    -ms-transition: all 0.2s ease;
	     -o-transition: all 0.2s ease;
	        transition: all 0.2s ease;
}
.show_tab_btn:hover{
	color: #FF4800;
}

.tab_item{
	cursor: pointer;
	margin-bottom: 10px;
}
	.tab_img_box{
		border: 5px solid #fff;
		-webkit-border-radius: 50%;
		        border-radius: 50%;
	}
		.tab_img_box img{
			width: 100%;
			height: 100%;
			text-align: center;
		}
	.tab_title_box{
		width: 170px;
		margin-left: 22px;
		padding-right: 20px;
	}
		.tab_title{
			color: #005376;
			font-size: 18px;
			margin-bottom: 0;
			text-transform: uppercase;
            font-weight: 300;
		}
		.tab_title_box .tab_title{
			padding: 36px 0;
			line-height: 22px;
		}
		.resp-tab-item.resp-tab-active .tab_title,
		.tab_item:hover .tab_title_box .tab_title{
			color: #FF4800;
            font-weight: 700;
		}
		.tabs_container .tab_title{
			color: #FF4800;
		}
		.tabs_container p{
			color: #556576;
			line-height: 20px;
		}
		.numb_list{
			margin-left: 56px;
			margin-bottom: 30px;
		}
			.numb_list li,
			.mark_list li{
				position: relative;
				line-height: 20px;
				margin-bottom: 22px;
			}
				.counter_circle{
					color: #1C4688;
					width: 35px;
					height: 35px;
					font-size: 18px;
					line-height: 20px;
					margin-left: 7px;
					margin-right: 14px;
					text-align: center;
					padding: 7px 5px;
					-webkit-border-radius: 50%;
					        border-radius: 50%;
					background-color: #bfddef;
					
					position: absolute;
					left: -54px;
				}
		.mark_list{
			margin-left: 27px;
			margin-bottom: 30px;
		}
			.mark_list li{
				position: relative;
				margin-bottom: 15px;
			}
				.mark_list li:before{
					content: "";
					position: absolute;
					left: -20px;
					top: 7px;
					width: 8px;
					height: 8px;
					background-color: #005376;
					-webkit-border-radius: 50%;
					        border-radius: 50%;
				}
		.show_tab_btn{
			display: inline-block;
			text-align: center;
			text-transform: uppercase;
			cursor: pointer;
		}
		.banner1,
		.banner2{
			color: #005376;
			font-size: 18px;
			font-weight: 300;
			text-align: center;
			height: 120px;
			padding: 50px 0;
			background: #FFF;
			border: 1px solid #DCE0E0;
			margin-bottom: 30px;
		}
		.banner1{
			width: 28%;
		}
		.banner2{
			width: 67%;
		}

/*===============================================>  
                               >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>  PRODUCT END  <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<
<===============================================*/




/*===============================================>  
                               >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>  NEWS START  <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<
<===============================================*/

.news_box .news_item{
	width: 100%;
	margin-bottom: 35px;
}
	.red_und_link{
		color: #DF0024 !important;
		text-decoration: none;
		border-bottom: 1px solid #DF0024;
	}
	.contact_link_list:hover .red_und_link,
	.red_und_link:hover{
		border-bottom: 1px solid transparent;
	}

/*===============================================>  
                               >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>  NEWS END  <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<
<===============================================*/


/*===============================================>  
                               >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>  ABOUT START  <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<
<===============================================*/

.about_page p{
	line-height: 20px;
	margin-bottom: 25px;
}
/*===============================================>  
                               >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>  ABOUT END  <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<
<===============================================*/


.min_height{
	height: 692px;
}

[data-bg="error_bg"]{
	background: url(../images/error_img.png) 0% 0% no-repeat;
	-webkit-background-size: 100%;
	     -o-background-size: 100%;
	        background-size: 100%;
}
.error_img_box{
	width: 100%;
	height: 433px;
	
}


/*===============================================>  
                               >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>  COMMENT START  <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<
<===============================================*/

.comment_page .info_block_item_img{
	width: 112px;
	height: 112px;
	margin-right: 20px;
	border: 5px solid #fff;
	background-color: #FFF;
	-webkit-border-radius: 50%;
	        border-radius: 50%;
}
	.comment_page .info_block_item_img img{
		width: 100%;
		height: auto;	
	}
		.comment_page .info_block_item_text_sub{
			background-color: #FFF;
		}
		.comment_page .info_block_item_text_sub:before{
			content: "";
		    background: url(../images/otziv_bg2.png) 0 0 no-repeat;
		    width: 19px;
		    height: 15px;
		    position: absolute;
		    top: -15px;
		    left: 70px;
		}
		.comment_page .info_block_item_text{
			width: 82%;
		}
		.form_block{
			width: 67%;
		}
			.form_box1{
				width: 45.5%; /*347*/
				margin-right: 5px;
				margin-bottom: 20px;
			}
				.form_row{
					margin-bottom: 10px;
				}
					.search_bank_input.form_input{
					    padding: 0 10px 0 13px;
						width: 100%;
						line-height: 34px;
						border: 1px solid #b2bcbc;
					}
			.form_box2{
				width: 53%; /*401*/
				margin-bottom: 20px;
			}
				.form_textarea{
					padding: 7px 10px 7px 10px;
					resize: none;
					width: 100%;
					height: 127px;
					line-height: 20px;
					border: 1px solid #b2bcbc;
					font-family: Arial;
					color: #9D9D9D;
					font-size: 14px;
				}
			.form_box button{
				background-color: #FFF;
				margin-right: 35px;
				float: left;
				text-transform: capitalize;
			}
			.form_box .btn{
				font-size: 14px;
			}
			.add_file{
				margin-top: -2px;
				font-size: 14px;
				color: #DF0024;
				text-transform: none;
				line-height: 30px;
				padding: 0 0 0 43px;
				background: url(../images/icon/add_file_icon.png) 0% 50% no-repeat;
			}

/*===============================================>  
                               >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>  COMMENT END  <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<
<=============================================


/*===============================================>  
                               >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>  CONTACTS START  <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<
<===============================================*/

.map_mark_info{
	width: 400px;
	height: 195px;
	padding-top: 17px;
}
	.extra_info{
		padding: 15px 28px;
		background-color: #EFF7FC;
		color: #556576;
	}

	.contact_link{
		padding-left: 30px;
		background: url(../images/icon/list_icon.png) 0% 50% no-repeat;
	}
	.contact_form{
		float: left;
		display: inline-block;
		margin: 0 25px 0 0;
	}
		.contact_form .select_wrapp_item{
			width: 170px;
			margin: 0;
		}
		.contact_form .select_wrapp_item .jq-selectbox__select{
			background: none;
			border-color: #bcc1c1;
		}
	.contact_form + span{
		line-height: 40px;
	}
	

/*===============================================>  
                               >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>  CONTACTS END  <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<
<===============================================*/

.help_count_box{
	padding-left: 130px;
}
.show_menu_btn{
	display: none;
	margin-top: 5px;
}
	.icon_bar{
		display: block;
	    width: 19px;
	    height: 3px;
	    margin-bottom: 3px;
		background-color: #015675;
	}
	.prim_nav_btn .icon_bar{
		background-color: #C0DDEF;
	}
.prim_nav_btn{
	margin-top: 20px;
}
.blue_btn{
    color: #124c7c !important;
    border: 1px solid #124c7c !important;
}
	.blue_btn:hover{
		text-decoration: none;
		color: #FFF !important;
		background-color:#124c7c !important;
	}
.diagram_span{
	line-height: 34px;
}
	.navigation_menu .show_menu_btn,
	.navigation_menu .submit_application_btn_big,
	.navigation_menu .login{
		display: none;
	}
