/*====>>  Stylesheet Guide START  <<====*/
        

        /*<<=========================================>>

        1. IMPORT Plugins and other CSS files
        2. DEFAULT Stylesheets
        3. BASIC classes main
            3.1) TOUCH hacks
            3.2) POSITIONS blocks (float:)
            3.3) POSITIONS text (text-align:)
            3.4) VERTICALLY align boxs (vertical-align:)
            3.5) INDENTS Zero !IMPORTANT
            3.6) POSITIONS (position:)
            3.7) ZEROING float
            3.8) DISPLAYS (dispay:)
            3.9) LINKS And BUTTONS
            3.10) HOVERS TRANSITION
            3.11) TITLES
            3.12) BACKGROUNDS
            3.13) COLORS
            3.14) GOOGLE FONTS
            3.15) INSTALL FONTS
            3.16) VISIBILITY
            3.17) TEXTAFIELD (placeholder animation)
        4. HEADER
        5. CONTENT
        6. FOOTER 
        
        <<=========================================>>*/
        

/*====>>  Stylesheet Guide END    <<====*/



/*================================================>  
                               >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>  IMPORT Plugins and other CSS files START  <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<
<================================================*/


        @import "../css/reset.css";
        @import "../css/indent.min.css";
        @import "../css/animate.css";
        @import "../font-awesome-4.5.0/css/font-awesome.css";
        @import "../plugins/formstyler/formstyler.css";
        @import "../plugins/easy-responsive-tabs/easy-responsive-tabs.css";
        @import "../css/plugins.css";
        @import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800,300italic,400italic,600italic&subset=cyrillic-ext,latin);
        @import "../css/style_l.css";
        @import "../css/responsive_l.css";



/*================================================>  
                               >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>  IMPORT Plugins And Other CSS files END    <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<
<================================================*/




/*================================================>  
                               >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>  DEFAULT Stylesheets START  <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<
<================================================*/


    article,
    aside,
    audio,
    canvas,
    command,
    datalist,
    details,
    embed,
    figcaption,
    figure,
    footer,
    header,
    hgroup,
    keygen,
    meter,
    nav,
    output,
    progress,
    section,
    source,
    video{
        display:block;
    }
    mark,
    rp,
    rt,
    ruby,
    summary,
    time{
        display:inline;
    }
    span,
    img,
    a{
       display: inline-block; 
    }

    html {width:100%;}

    body {
        font-family: 'Open Sans', sans-serif;
        font-size:14px;
        line-height:inherit;
        color:#556576;
        min-width:320px;
        /*background:url(../images/body_bg.jpg) 50% 0 repeat #fff;*/
        -webkit-text-size-adjust: none;
    }
    img{
        max-width: 100%;
        height: auto;
        display: inline-block;
    }
    *{
        -webkit-box-sizing: border-box;
           -moz-box-sizing: border-box;
                box-sizing: border-box;
    }
    hr{
        border: none;
        border-top: 1px solid #888;
        margin: 0;
    }
    .container{
        max-width: 1140px;
        margin-right: auto;
        margin-left: auto;
    }

/*================================================>  
                               >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>  DEFAULT Stylesheets END    <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<
<================================================*/




/*================================================>  
                               >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>  BASIC classes main START  <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<  
<================================================*/




        /*=======================>  TOUCH hacks START  <=======================*/


            input,
            textarea,
            button{
                -webkit-appearance: none;
                -webkit-border-radius:0; 
                border-radius:0;
                outline:none;
            }


        /*=======================>  POSITIONS blocks (float:) START  <=======================*/
            

            .f_left {float:left;}
            .f_right {float:right;}
            .f_none {float:none;}


        /*=======================>  POSITIONS text (text-align:) START  <=======================*/


            .al_left{text-align: left;}
            .al_right{text-align:right;}
            .al_center{text-align:center;}
            .al_justify{text-align:justify;}


        /*=======================>  VERTICALLY align boxs (vertical-align:) START  <=======================*/
        

            .val_mid{vertical-align: middle;}
            .val_bot{vertical-align: bottom;}
            .val_top{vertical-align: top;}
        

        /*=======================>  INDENTS Zero !IMPORTANT START  <=======================*/


            .m_t_zero{ margin-top:0 !important;}
            .m_b_zero{ margin-bottom:0 !important;}
            .m_r_zero{ margin-right:0 !important;}
            .m_l_zero{ margin-left:0 !important;}
            .p_t_zero{ padding-top:0 !important;}
            .p_b_zero{ padding-bottom:0 !important;}
            .p_r_zero{ padding-right:0 !important;}
            .p_l_zero{ padding-left:0 !important;}


        /*=======================>  POSITIONS (position:) START  <=======================*/
            

            .p_abs{position: absolute;}
            .p_rel{position: relative;}
            .p_fix{position: fixed;}
            .p_static{position: static;}

            .full_abs{
                position: absolute;
                left: 0;
                top: 0;
                right: 0;
                bottom: 0;
                display: block;
                z-index: 99;
            }


        /*=======================>  ZEROING float START  <=======================*/


            .clear {
                clear:both;
                width:100%;
                line-height:0;
                font-size:0;
            }

            .clearfix:after,
            .container:after{
              content: "";
              display: block;
              height: 0;
              clear: both;
              visibility: hidden;
            }

            .wrapper {overflow:hidden;}


        /*=======================>  DISPLAYS (dispay:) START  <=======================*/


            .d_block{ display:block;}
            .d_ib{ display:inline-block;}
            .d_none{ display:none;}
            .d_t{ display:table;}
            .d_row{ display:table-row;}
            .d_tc{ display:table-cell;}


        /*=======================>  LINKS And BUTTONS START  <=======================*/


            * a,
            * button{
                cursor: pointer;
                outline:none !important;
            }
            a {
                color:#666;
                outline:none;
                text-decoration:underline;
                display: inline-block;
            }
            a:hover{
                /*color:#555;*/
                text-decoration:none;
            }
            button{
                border: none;
                padding: 10px 10px 10px 10px;
                display: inline-block;
                background-color: gray;
                color: #FFF;
                -webkit-border-radius: 0px;
                        border-radius: 0px;
                text-transform: uppercase;
            }
            [class*="btn_"]{
                padding: 13.5px 29px;
                font-size: 13px;
                line-height: 15px;
                -webkit-border-radius: 0px;
                        border-radius: 0px;
                color: #fff;
                text-transform: uppercase;
            }


        /*======================>>  HOVERS TRANSITION START <<======================*/


                a,
                button{
                    -webkit-transition: all 0.7s ease;
                    -moz-transition: all 0.7s ease;
                    -o-transition: all 0.7s ease;
                    transition: all 0.7s ease;
                }
                a:hover,
                button{
                    -webkit-transition: all 0.1s ease;
                    -moz-transition: all 0.1s ease;
                    -o-transition: all 0.1s ease;
                    transition: all 0.1s ease;
                }


        /*======================>  TITLES START  <======================*/
            

            h1,h2,h3,h4,h5,h6{
                font-weight:normal;
                margin-bottom: 20px;
            }
            
            .title{
                font-size: 36px;
                line-height: 1.2;
                color:#1c4688;
                text-shadow: 1px -1px 2px #fff;
            }

            .title2{
                font-size: 24px;
                line-height: 1.2;
                color: #ff4800;
            }

            .title3{
                font-size: 18px;
                line-height: 1.2;
            }

            .title4{
                font-size: 16px;
                line-height: 1.2;
            }

            .it{font-style:italic;}

            .let{letter-spacing:-1px;}

            .reg {text-transform:uppercase;}

            .td_und{text-decoration: underline;}
            .td_und:hover{text-decoration: none;}

            .td_und_no{text-decoration: none;}
            .td_und_no:hover{text-decoration: underline;}

            .td_no{text-decoration: none !important;}


        /*=======================>  BACKGROUNDS START  <=======================*/


            .bg_none{ background:none !important;}
            .bg_black{background-color: #000;}
            .bg_white{background-color: #fff;}

            .btn_gray{
                background-color: gray;
            }

        /*=======================>  COLORS START  <=======================*/


            .white{ color: #FFF;}
            .black{ color: #000;}

            .orange{ color: #ff4800;}
            .blue{ color: #005376;}


        /*======================>  GOOGLE FONTS START  <======================*/
        

            .open_sans_lt{
                font-weight: 300;
            }
            .open_sans_reg{
                font-weight: 400;
            }
            .open_sans_med{
                font-weight: 600;
            }
            .open_sans_bd{
                font-weight: 700;
            }
            .open_sans_ultra_bd{
                font-weight: 900;
            }


        /*======================>  INSTALL FONTS START  <======================*/
        

            @font-face {
                font-family: 'Conv_pfdintextcomppro-medium';
                src: url('../fonts/pfdintextcomppro-medium.eot');
                src: local('☺'), url('../fonts/pfdintextcomppro-medium.woff') format('woff'), url('../fonts/pfdintextcomppro-medium.ttf') format('truetype'), url('../fonts/pfdintextcomppro-medium.svg') format('svg');
                font-weight: normal;
                font-style: normal;
            }

        /*======================>  VISIBILITY START  <======================*/
        

            .visible{
                visibility: visible;
            }
            .invisible{
                visibility: hidden;
            }


        /*======================>  TEXTAFIELD (placeholder animation) START  <======================*/
        
            /*===  input start  ===*/
            input.invalid,
            textarea.invalid,
            .jq-selectbox.invalid .jq-selectbox__select{
                border: 2px solid red;    
            }

            input::-webkit-input-placeholder{   
                transition: all 0.5s ease;
                color: #9d9d9d;
                font-size: 14px;
                -ms-text-overflow: ellipsis;
                text-overflow: ellipsis;
            }
            input::-moz-placeholder{   
                transition: all 0.5s ease;
                color: #9d9d9d;
                font-size: 14px;
                -ms-text-overflow: ellipsis;
                text-overflow: ellipsis;
            }
            input:-moz-placeholder{   
                transition: all 0.5s ease;
                color: #9d9d9d;
                font-size: 14px;
                -ms-text-overflow: ellipsis;
                text-overflow: ellipsis;
            }
            input:-ms-input-placeholder{ 
                transition: all 0.5s ease;
                color: #9d9d9d;
                font-size: 14px;
                -ms-text-overflow: ellipsis;
                text-overflow: ellipsis;
            }

            input:focus::-webkit-input-placeholder {
                transition: all 0.5s ease;
                opacity: 0;
            }
            input:focus::-moz-placeholder{
                transition: all 0.5s ease;
                opacity: 0;
            }
            input:focus:-moz-placeholder{
                transition: all 0.5s ease;
                opacity: 0;
            }
            input:focus:-ms-input-placeholder{
                transition: all 0.5s ease;
                opacity: 0;
            }
            /*===  input end    ===*/
            
            /*===  textarea start  ===*/
            textarea::-webkit-input-placeholder{
                transition: all 0.5s ease;
                color: #9d9d9d;
                font-size: 14px;
            }
            textarea::-moz-placeholder{
                transition: all 0.5s ease;
                color: #9d9d9d;
                font-size: 14px;
            }
            textarea:-moz-placeholder{
                transition: all 0.5s ease;
                color: #9d9d9d;
                font-size: 14px;
            }
            textarea:-ms-input-placeholder{
                transition: all 0.5s ease;
                color: #9d9d9d;
                font-size: 14px;
            }

            textarea:focus::-webkit-input-placeholder{
                transition: all 0.5s ease;
                opacity: 0;
            }
            textarea:focus::-moz-placeholder{
                transition: all 0.5s ease;
                opacity: 0;
            }
            textarea:focus:-moz-placeholder{
                transition: all 0.5s ease;
                opacity: 0;
            }
            textarea:focus:-ms-input-placeholder{
                transition: all 0.5s ease;
                opacity: 0;
            }
            /*===  textarea end    ===*/


        /*======================>  BACKGROUND START  <======================*/

        [data-bg="bg_header"]{
            background: #bfddef;
        }

        [data-bg="bg_content2"]{
            background: #005376;
        }

/*================================================>  
                               >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>  BASIC classes main END    <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<
<================================================*/




/*===============================================>  
                               >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>  HEADER START  <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<
<===============================================*/


    header {
        padding: 23px 0 3px;
        position: relative;
    }
        .header_stic{
            padding: 20px 0 18px;
            z-index: 99999;
        }

        .header_stic.is-sticky .header_contacts,
        .header_stic.is-sticky .header_number_btn,
        .header_stic.is-sticky .login_btn,
        .header_stic.is-sticky .login:before{
            display: none;
        }
        .header_stic.is-sticky .submit_application_btn_small{
            position: static;
        }
        .header_stic.is-sticky .login.f_left{
            float: right;
            width: 21%;
        }
        .logo{
            width: 25.6%;  
        }
            .logo a{
                display:block;
                /*width:288px;*/
                height:52px;
                background:url(../images/logo.png) 0 0 no-repeat;
                -webkit-background-size: 100%;
                     -o-background-size: 100%;
                        background-size: 100%;
                text-decoration:none;
                text-indent:-9999px;
                font-size: 0;
            }

        .header_number,
        .header_contacts{
            color: #000;
            width: 23%;
            margin: 0 32px;
            z-index: 9;
            position: relative;
        }
            .number{
                position: relative;
                padding-left: 40px;
                font-size: 30px;
                line-height: 1;
                font-weight: 300;
            }    
                .number:before{
                    content: "";
                    width: 25px;
                    height: 25px;
                    background: url(../images/phone_img.png) 0 0 no-repeat;
                    position: absolute;
                    left: 0;
                    top: 50%;
                    -webkit-transform: translateY(-50%);
                    -ms-transform: translateY(-50%);
                    -o-transform: translateY(-50%);
                    transform: translateY(-50%);
                }

            .header_number span{
                font-size: 12px;
            }    

            .header_number_btn{
                color: #4c72a6;
                border: 1px solid #134c7c;
                border-radius: 3px;
                padding: 7px 49px 8px;
            }    
                .header_number_btn:hover{
                    background: #134c7c;
                    color: #fff;
                }

        .header_contacts{
            width: 22.6%;
            padding-left: 30px;
            z-index: 9;
            position: relative;
        }

            .nearest_office{
                font-size: 18px;
                position: relative;
            }        

                .nearest_office:before{
                    content: "";
                    width: 15px;
                    height: 22px;
                    background: url(../images/marker_img.png) 0 0 no-repeat;
                    position: absolute;
                    left: -30px;
                    top: 50%;
                    -webkit-transform: translateY(-50%);
                    -ms-transform: translateY(-50%);
                    -o-transform: translateY(-50%);
                    transform: translateY(-50%);
                }

        .login{
            position: relative;
            padding-left: 36px;
            width: 17.5%;
        }    

            .login_btn{
                color: #1c4688;
                font-size: 18px;
                border-bottom: 1px dashed #1c4688;
                position: relative;
                display: inline;
            }

                .login_btn:hover{
                    border: none;
                    color: #e31e24;
                }

            .login:before{
                content: "";
                width: 25px;
                height: 25px;
                background: url(../images/login_icon.png) 0 0 no-repeat;
                position: absolute;
                left: 0;
                top: 2px;
            }



/*===============================================>  
                               >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>  HEADER END    <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<
<===============================================*/


/*===============================================>  
                               >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>  NAVIGATION START    <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<
<===============================================*/

    .menu{
        text-align: center;
    }
        .menu_item{
            display: inline-block;
            margin: 0 -2px;
        }

            .menu_link{
                text-decoration: none;
                color: #fff;
                text-transform: uppercase;
                font-size: 16px;
                font-weight: 300;
                padding: 10px 51px 9px; 
            }
                /*.menu_link:hover{
                    color: #72b2d9;
                    background: #003a52;
                }*/

                /*.menu_item:first-child .menu_link{
                    padding-left: 0;
                }

                .menu_item:last-child .menu_link{
                    padding-right: 0;
                }
            */
            .menu_item.current .menu_link{
                color: #6EB4D6;
                background-color: transparent;
            }
            .menu_link:hover{
                background: #003a52;
            }

/*===============================================>  
                               >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>  NAVIGATION END    <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<
<===============================================*/

/*===============================================>  
                               >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>  CONTENT START  <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<
<===============================================*/


    #content {
        /*padding: 50px 0px 100px 0px; */
        min-height: 265px;
    }

        .main_content_top_block{
            padding-bottom: 97px;
            padding-top: 50px;
            position: relative;
        }
            .main_content_top_block .title{
                margin-left: 320px;
            }

        .main_content_img{
            position: relative;
        }
            .main_content_img:before{
                content: "";
                background: #bfddef url(../images/img_main_header.png) 0 0 no-repeat;
                width: 750px;
                height: 386px;
                position: absolute;
                left: 7%;
                top: -65px;
            }

            /*.main_content_top_block_img{
                position: absolute;
                left: -20px;
                top: 0;
                z-index: 
            }*/

        .submit_application_btn_big,
        .submit_application_btn_small{
            position: absolute;
            right: 0;
            top: 60px;
            font-size: 18px;
            color: #fff;
            padding: 24px 52px 23px;
            border-radius: 5px;
            box-shadow: inset 0 -1px 1px #6c3500, inset 0 1px 1px #fc8d22;
            /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ff7d00+0,c63400+99 */
            background: #ff7d00; /* Old browsers */
            background: -moz-linear-gradient(top,  #ff7d00 0%, #c63400 99%); /* FF3.6-15 */
            background: -webkit-linear-gradient(top,  #ff7d00 0%,#c63400 99%); /* Chrome10-25,Safari5.1-6 */
            background: linear-gradient(to bottom,  #ff7d00 0%,#c63400 99%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff7d00', endColorstr='#c63400',GradientType=0 ); /* IE6-9 */
        }

            .submit_application_btn_big:hover,
            .submit_application_btn_small:hover{
                background: #f57100; /* Old browsers */
                background: -moz-linear-gradient(top,  #f57100 0%, #f57100 99%); /* FF3.6-15 */
                background: -webkit-linear-gradient(top,  #f57100 0%,#f57100 99%); /* Chrome10-25,Safari5.1-6 */
                background: linear-gradient(to bottom,  #f57100 0%,#f57100 99%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
                filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f57100', endColorstr='#f57100',GradientType=0 ); /* IE6-9 */
            }
            .submit_application_btn_big:active,
            .submit_application_btn_small:active{
                box-shadow: inset 0 1px 1px #6c3500, inset 0 -1px 1px #fc8d22;
            }

        .submit_application_btn_small{
            padding: 13px 5px 12px;
            width: 100%;
            text-align: center;
           /* margin-top: 27px;*/
        }    

        .offers_item{
            width: 25%;
            text-align: center;
        } 
            .offers_item:nth-child(1){
                width: 22%;
            }   
            .offers_item:nth-child(3){
                width: 27%;
            }
        
            .offers_item_img{
                border: 5px solid #fff; 
                border-radius: 100%;
                overflow: hidden;
            }

            .offers_item_text .title2{
                color: #134c7c;
                font-size: 23px;
            }
            .offers_item_text{
                color: #353535;
                padding: 0 10px;
            }

        
        .about_project{
            margin-top: 20px;
        }

            .about_project_img{
                vertical-align: bottom;
            }

            .about_project_text{
                width: 47.1%;
                vertical-align: middle;
                line-height: 20px;
                padding-bottom: 10px;
            }

                .btn{
                    width: 212px;
                    padding: 7px 0 6px;
                    color: #df0024;
                    border: 1px solid #df0024;
                    text-align: center;
                    border-radius: 3px;  
                }
                    .btn:hover{
                        background: #df0024;
                        color: #fff;
                    }

        .counter{
            padding: 32px 0 0;
        }   

            .counter_text{
                position: relative;
                font-size: 24px;
                color: #fff;
                line-height: 110px;
            }

            .counter_text:first-child{
                padding-left: 93px;
            }

            .counter_text:first-child:before{
                content: "";
                position: absolute;
                left: 0;
                top: 50%;
                -webkit-transform: translateY(-50%);
                -ms-transform: translateY(-50%);
                -o-transform: translateY(-50%);
                transform: translateY(-50%);
                background: url(../images/counter_circle.png) 0 0 no-repeat;
                width: 64px;
                height: 64px;
            }

            .counter_box{
                color: #e31e24;
                font-size: 72px;
                margin: 0 40px;
            }
                .counter_item{
                    font-family: 'Conv_pfdintextcomppro-medium';
                    text-align: center;
                    background: url(../images/counter_img.png) 0 0 no-repeat;
                    -webkit-background-size: 100% 100%;
                    background-size: 100% 100%;
                    width: 63px;
                    height: 97px;
                    line-height: 1.2;
                    box-shadow: 5px 5px 10px #034561;
                    margin: 0 -5px;
                }

        .news{
            padding: 30px 0 50px;
        }   

            .news_item{
                width: 45.7%;
                line-height: 20px;
            }   

                .news_item p{
                    margin-bottom: 0;
                }

                .news_item a{
                    color: #134c7c;
                }

                .all_news_btn{
                    color: #e31e24;
                    font-size: 14px;
                    line-height: 34px;
                    position: relative;
                    padding-right: 15px;
                    margin-left: 15px;
                    text-transform: none;
                }   

                    .all_news_btn:after{
                        content: "";
                        width: 9px;
                        height: 5px;
                        background: url(../images/arrow_btn.png) 0 0 no-repeat;
                        position: absolute;
                        right: 0;
                        top: 45.7%;
                    }

                .news_title{
                    color: #000;
                    font-weight: 600;
                }  

        .info_block1{
            width: 49%;
        }  

        .info_block2{
            width: 46%
        }

            .info_block_item_img{
                width: 17.9%;
                display: inline-block;
                border-radius: 100%;
                overflow: hidden;
            }  

            .info_block_item_text{
                width: 78%;
            }   
                .info_block_item_text_sub{
                    background: #eff7fc;
                    padding: 15px 30px;
                    border-radius: 10px;
                    position: relative;
                    font-style: italic;
                } 
                    .info_block_item_text_sub:before{
                        content: "";
                        background: url(../images/otziv_bg.png) 0 0 no-repeat;
                        width: 19px;
                        height: 15px;
                        position: absolute;
                        top: -15px;
                        left: 70px;
                    }  
        
        .info{
            padding: 40px 0;
        }

    /*======================>  ORDER PAGE START  <======================*/

        .application_block .title3{
            padding-left: 45px;
        }
            .title3 .counter_circle{
                margin: 0;
                left: 0;
                top: 50%;
                -webkit-transform: translateY(-50%);
                -ms-transform: translateY(-50%);
                -o-transform: translateY(-50%);
                transform: translateY(-50%);
            }

        .bank_selection{
            margin: 0 -6px 20px;
        }

            .bank_selection_item{
                border: 3px solid #fff;
                margin: 0 6px 13px; 
                width: 23.4%;
            }    

                .bank_selection_item img{
                    width: 100%;
                    height: 100%;
                }

            .bank_selection_item:hover,
            .bank_selection_item.active{
                border-color: #bfddef;
            }

        .search_bank_input,
        .personal_information_item{
            border: 1px solid #dce0e0;
            width: 270px;
            line-height: 38px;
            padding: 0 10px 0 16px;
            color: #9d9d9d;
            font-size: 14px;
        }    

        .search_btn{
            background: url(../images/search_img.png) 0 0 no-repeat;
            width: 23px;
            height: 23px;
            padding: 0;
            vertical-align: middle;
            margin-left: 10px;
        }
        
        .selected_bank{
            margin-left: 20px;
        }
            .selected_bank_list{
                line-height: 40px;
            }

                .selected_bank_list_item{
                    display: inline-block;
                    background: #bfddef;
                    padding: 0 53px 0 12px;
                    position: relative;
                    border-radius: 4px;
                    margin-left: 14px;
                }

                    .selected_bank_list_item_close{
                        position: absolute;
                        right: 11px;
                        top: 50%;
                        -webkit-transform: translateY(-50%);
                        -ms-transform: translateY(-50%);
                        -o-transform: translateY(-50%);
                        transform: translateY(-50%);
                        background: url(../images/close_img.png) 0 0 no-repeat;
                        width: 15px;
                        height: 15px;
                        cursor: pointer;
                    }

        .select_wrapp{
            margin: 0 -10px 20px;
        }
        
            .select_wrapp_item{
                width: 30.6%;
                margin: 0 10px; 
            }       

                .select_wrapp_item .jq-selectbox__select{
                    border-color: #dce0e0;
                    color: #556576;
                    padding-left: 16px;
                }

                .select_wrapp_item .jq-selectbox__trigger-arrow{
                    top: 50%;
                    -webkit-transform: translateY(-50%);
                    -ms-transform: translateY(-50%);
                    -o-transform: translateY(-50%);
                    transform: translateY(-50%);
                    border: none;
                    background: url(../images/tigger_arrow.png) 0 0 no-repeat;
                    width: 11px;
                    height: 6px;
                    right: 16px;
                }  

        .diagram_block{
            padding: 23px 0 23px 23px;
            position: relative;
        }
            .diagram_canvas_wrapp{
                margin-right: 45px;
                display: inline-block;
                position: relative;
            }     
                .diagram_canvas_wrapp canvas{
                    display: inline-block;
                    transform: rotate(90deg);
                    width: 100%;
                    height: 100%;
                }  

                [data-interest-blue]:before{
                    content: attr(data-interest-blue)"%";
                    display: block;
                    position: absolute;
                    left: -23px;
                    top: -23px;
                    width: 46px;
                    height: 46px;
                    line-height: 46px;
                    background: #fff;
                    border-radius: 25px;
                    z-index: 2;
                    text-align: center;
                    color: #005376;
                    font-size: 16px;
                }
                [data-interest-orange]:after{
                    content: attr(data-interest-orange)"%";
                    display: block;
                    position: absolute;
                    right: -23px;
                    bottom: -23px;
                    width: 46px;
                    height: 46px;
                    line-height: 46px;
                    background: #fff;
                    border-radius: 25px;
                    z-index: 2;
                    text-align: center;
                    color: #ff5411;
                    font-size: 16px;
                }

            .strips:before{
                content: "";
                position: absolute;
                width: 3px;
                height: 16px;
                background: #fff;
                transform: rotate(135deg);
                top: 15px;
                left: 19px;
            }
            .strips:after{
                content: "";
                position: absolute;
                width: 3px;
                height: 16px;
                background: #fff;
                transform: rotate(135deg);
                bottom: 15px;
                right: 19px;
            }
        
        .diagram_block_text{
            margin-top: 5px;
        }

            .dot{
              position: relative;
              padding-left: 29px;  
            } 
                .dot:before{
                    content: "";
                    position: absolute;
                    width: 16px;
                    height: 16px;
                    background: #ff4800;
                    border-radius: 10px;
                    left: 0;
                    top: 50%; 
                    -webkit-transform: translateY(-50%);
                    -ms-transform: translateY(-50%);
                    -o-transform: translateY(-50%);
                    transform: translateY(-50%);
                }
                .dot.bl:before{
                    background: #005376;
                }

        .personal_information{
            margin: 0 -10px;
        }

            .personal_information_item{
                color: #556576;
                width: 30.6%;
                margin: 0 10px 19px;
            }   

            input.personal_information_item::-webkit-input-placeholder{   
                transition: all 0.5s ease;
                color: #556576;
                font-size: 14px;
                -ms-text-overflow: ellipsis;
                text-overflow: ellipsis;
            }
            input.personal_information_item::-moz-placeholder{   
                transition: all 0.5s ease;
                color: #556576;
                font-size: 14px;
                -ms-text-overflow: ellipsis;
                text-overflow: ellipsis;
            }
            input.personal_information_item:-moz-placeholder{   
                transition: all 0.5s ease;
                color: #556576;
                font-size: 14px;
                -ms-text-overflow: ellipsis;
                text-overflow: ellipsis;
            }
            input.personal_information_item:-ms-input-placeholder{ 
                transition: all 0.5s ease;
                color: #556576;
                font-size: 14px;
                -ms-text-overflow: ellipsis;
                text-overflow: ellipsis;
            }   

        .select_wrapp2 .select_wrapp_item{
            margin: 0;
            width: 100%;
        }

        .agreement{
            margin-left: 5px;
        }

            .agreement_text{
                cursor: pointer;  
                padding-left: 12px;             
            }

            .agreement .jq-checkbox{
                width: 21px;
                height: 21px;
                border: 1px solid #dce0e0;
                background: #fff;
                margin: 0;
            }

            .agreement .jq-checkbox.checked{
                background: #fff url(../images/checkbox_img.png) 50% 50% no-repeat;
            }      

        .application_block .submit_application_btn_big{
            position: static;
        }

    /*======================>  ORDER PAGE END    <======================*/

    /*======================>  CONTACTS and CONTACTS LIST PAGE START    <======================*/

    .contacts{
        padding-bottom: 150px;
    }
    #map{
        width: 100%;
        height: 400px;
    }

    .loc_info{
        position: relative;
        padding-left: 24px;  
    }
        .address:before{
            content: "";
            position: absolute;
            background: url(../images/mark_map_popup.png) 0 0 no-repeat;
            width: 10px;
            height: 15px;
            left: 0;
            top: 3px;
        }
        .stantion:before{
            content: "";
            position: absolute;
            background: url(../images/img_metro.png) 0 0 no-repeat;
            width: 16px;
            height: 12px;
            left: 0;
            top: 3px;
        }
        #map .ymaps-2-1-39-balloon__content{
            padding: 0;
            margin: 0; 
            font-size: 14px;
        }
        #map .ymaps-2-1-39-balloon__close-button{
            background: url(../images/close_img.png) 50% no-repeat!important;
        }

        #map .map_mark_info_top{
            padding: 0 28px;   
        }


    .contact_link.list{
        padding-left: 30px;
        position: relative;
        background: url(../images/mar_small_contact.png) 0 50% no-repeat;
    }

    .map_list_block_item{
        width: 48%;
    }
        .map_list_block_item .map_mark_info{
            width: 100%;
            height: auto;
        }

        .map_list_block .extra_info{
            padding: 0; 
        }

    /*======================>  CONTACTS and CONTACTS LIST PAGE END    <======================*/


    /*======================>  NEWS PAGE START    <======================*/
    
    .news_page .news_item p{
        margin-bottom: 20px;
    }

    /*======================>  NEWS PAGE END    <======================*/

/*===============================================>  
                               >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>  CONTENT END    <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<
<===============================================*/




/*===============================================>  
                               >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>  FOOTER START  <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<
<===============================================*/


    footer {
        border-top: 2px solid #e31e24; 
        padding:40px 0px;
    }

        .footer_copyright{
            color: #717171;
            font-size: 12px;
            width: 34.2%;
            margin-right: 10%;
        }

        .social_icon{
            margin: 0 -5px;
        }

            .social_icon_item{
                float: left;
                margin: 0 5px;
            }

            .social_icon_item:hover a{
                opacity: .7;
            }
            

/*===============================================>  
                               >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>  FOOTER END    <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<
<===============================================*/


/*===============================================>  
                               >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>  ANCHOR START  <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<
<===============================================*/


    #ahchor{
        
    }
    .ahchor{
        
    }
        .arrow_up {
            position: fixed;
            z-index: 99;
            right: 150px;
            bottom: 150px;
            visibility: hidden;
            opacity: 0;
            bottom: 200px;
            cursor: pointer;
            -webkit-transition: all linear 0.2s;
               -moz-transition: all linear 0.2s;
                -ms-transition: all linear 0.2s;
                 -o-transition: all linear 0.2s;
                    transition: all linear 0.2s;
        }
        .arrow_up.active{
            opacity: 0.6;
            visibility: visible;
        }

            .arrow_up .fa-arrow-up{
                border: 3px solid #888;
                width: 70px;
                height: 70px;
                -webkit-border-radius: 50%;
                        border-radius: 50%;
                overflow: hidden;
                text-align: center;
                background-color: transparent;
            }
            .arrow_up .fa-arrow-up:before{
                font-size: 30px;
                color: #888;
                line-height: 65px;    
            }
            .arrow_up:hover,
            .arrow_up.click{
                opacity: 1;
                -webkit-transform: scale(1.1);
                   -moz-transform: scale(1.1);
                    -ms-transform: scale(1.1);
                     -o-transform: scale(1.1);
                        transform: scale(1.1);
                -webkit-transition: all ease-in 0.2s;
                   -moz-transition: all ease-in 0.2s;
                    -ms-transition: all ease-in 0.2s;
                     -o-transition: all ease-in 0.2s;
                        transition: all ease-in 0.2s;
            }
            .arrow_up:hover .fa-arrow-up,
            .arrow_up.click .fa-arrow-up{
                background-color: #34A706;
                border: 3px solid #34A706;
            }
            .arrow_up:hover .fa-arrow-up:before,
            .arrow_up.click .fa-arrow-up:before{
                color: #fff;            
            }


/*===============================================>  
                               >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>  ANCHOR END    <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<
<===============================================*/