.resp-tabs-list li {
    
}

h2.resp-accordion {
    display: none;
}

.resp-tab-content {
    display: none;
}

.resp-content-active, 
.resp-accordion-active {
    display: block;
}

.resp-easy-accordion  h2.resp-accordion {
    display: block;
}

.resp-tab-content-active {
    display: block;
    margin-bottom: 25px;
}
    .resp-tab-active{
        text-decoration: underline;
    }
/*.resp-arrow{
    position: absolute;
    right: 0;
    top: 10px;
    top: 21px;
    right: 20px;
    width: 0;
    height: 0;
    border-top: 8px solid #999;
    border-right: 6px solid transparent;
    border-left: 6px solid transparent;
}*/


@media only screen and (max-width: 768px) {

    ul.resp-tabs-list ,
    .account_tab_list{
        display: none;
    }

    .tabs_title{
        display: block;
    }

    h2.resp-accordion {
        display: inline-block;
        width: 100%;
        margin-bottom: 15px;
        position: relative;
        -webkit-transition: all ease-in 0.5s;
           -moz-transition: all ease-in 0.5s;
            -ms-transition: all ease-in 0.5s;
             -o-transition: all ease-in 0.5s;
                transition: all ease-in 0.5s;
        cursor: pointer;
    }
        h2.resp-accordion:hover{
        }
            /*h2.resp-accordion:hover .resp-arrow{
                border-top: 8px solid #fff;
            }*/

            h2.resp-accordion.resp-tab-active{
                text-decoration: none;
            }
            /*h2.resp-accordion.resp-tab-active .resp-arrow{
                border-top: 8px solid #000;
            }*/
    
    h2.resp-accordion[aria-controls="tab_item-1"],
    h2.resp-accordion[aria-controls="tab_item-2"]{
        margin-top: -1px;
    }
    
    /*.resp-accordion.resp-tab-active .resp-arrow{
        -webkit-transform: rotate(-90deg);
           -moz-transform: rotate(-90deg);
            -ms-transform: rotate(-90deg);
             -o-transform: rotate(-90deg);
                transform: rotate(-90deg);
        -webkit-transition: all ease-in 0.2s;
           -moz-transition: all ease-in 0.2s;
            -ms-transition: all ease-in 0.2s;
             -o-transition: all ease-in 0.2s;
                transition: all ease-in 0.2s;
    }
    .resp-accordion-closed {
        display:none !important;
    }*/

}